@use "./global" as glob;
@use "./util" as u;
@use "./util/functions" as f;

.open-account__form form,
form{
    width: 80%;
    @include u.breakpoints-down(mobile){
        width:100%;
    }
    max-width: f.rem(850);
    margin: 0 auto;


    input {
        display: block;
        width: 80%;
        max-width: glob.$max-box-value;
        min-width: glob.$min-box-value;
        margin: 1rem auto;
        padding: 0.4rem;
        text-indent: 1rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        border-style: solid;
        border-color: glob.$search-box-color;

        &:hover {
            border-color:glob.$primary-color;
        }



    }
    p {
        width: 100%;
        margin: 2.2rem auto;

    }



}


.open-account__btn {
    display: block;
    width:100%;
    max-width: glob.$max-box-value;
    min-width: glob.$min-box-value;
    margin: 1rem auto;

    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.05rem;
    //border-color: glob.$primary-color;
    color:#fff;
    //color: glob.$primary-color;
    //background-color: white;
    box-shadow: f.rem(3) f.rem(5) f.rem(4) rgb(236, 228, 228);


        &:hover {
            //background-color: glob.$primary-color;
            color: #fff;
        }

}

// password area


.field {
    display: block;
    width:100%;
    max-width: glob.$max-box-value + 75px;
    min-width: glob.$min-box-value;
    margin: 15px auto;

    position: relative;



    & .open-eye,
    & .close-eye {
        position: absolute;
        top: 10px;
        right: 45px;
        cursor: pointer;
        display: none;
       

       
    }
}




.error-text {
    background-color: #F8D7DA;
    padding: 8px 0;
    border-radius: 5px;
    color: #8B3E46;
    border: 1px solid #F5C6CB;
    display: none;
    max-width: glob.$max-box-value;
    min-width: glob.$min-box-value;
    margin: 0 auto;

}

 .matched {
    background-color: hsl(134, 41%, 88%);
    color: hsl(134, 23%, 45%);
    border-color: hsl(134, 41%, 83%);
     
}



.open-account__btn{
    background-color: hsl(237, 66%, 65%);
    cursor: no-drop;
    opacity: .7;
    transition: all 0.3s;
}
.open-account__btn.active {
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;
}
.open-account__btn.active:hover {
    background-color: hsl(237, 65%, 60%);
}