$blue__icon : #293087;
$footer__background : #d9d9d9;
$footer__color: #737373;
@use "./global" as glob;
@use "./util/functions" as f;
@use "./util" as u;



footer {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 1.1rem;
    color: $footer__color;
    background-color: $footer__background;
    text-indent: 20pt;
    
    @include u.breakpoints-down(mobile){
       text-indent: 30pt;
    }
   
    

}


.gray-color {
    background-color:  #bfbcbc;
    opacity: 0.4;
}

footer .logo-image {
    width: f.rem(40);
    height: f.rem(40);
    position: absolute;
    left: f.rem(10);
    top: f.rem(13);
    border: f.rem(2) solid glob.$primary-color;
    border-radius: f.rem(50);

   
}
