$blue__icon : #293087;
$footer__background : #d9d9d9;
$footer__color: #737373;
@use "./global" as glob;
@use "./util/functions" as f;



footer {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 1.1rem;
    color: $footer__color;
    background-color: $footer__background;
    text-indent: 20pt;
   
    

}

footer .logo-image {
    width: f.rem(30);
    height: f.rem(30);
    position: absolute;
    left: f.rem(10);
    top: f.rem(13);
    border-radius: 50%;
}
