@use "./util/functions" as f;
@use "./global"as glob;
@use "./util" as u;






body {

    font-family: sans-serif;
    background-color: glob.$body__background;

}


.gray {
    position: absolute;
    top: 0;
    left: 0;
    height: 160%;
    z-index: 9999;
    width: 66%;
    background-color: rgba(0,0,0,0.3);
    display: none;
}



.access,
.open-account{
    background-color: #ffffff ;
}

.free-days, .buy,
.history-course,.student,
.home, .versionamento,
.access,#video,
.open-account{
    width: 85%;
    margin: 3.5rem auto 0 auto;
    text-align: center;
    padding: 4rem 0 4rem 0;




}

.free-days {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}

.access__title,
.open-account__title {
    color: glob.$primary-color;
    font-weight: normal;
}





#access__form {
    width: 100%;
    margin: 0 auto;
    & > p {
       margin: 0;
    }

    input[type='email'],input[type='password'] {
        display: block;
        width:80%;
        max-width: f.rem(300);
        min-width: f.rem(200);
        margin: 1rem auto;
        padding: 0.4rem;
        text-indent: 1rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        border-style: solid;
        border-color: glob.$search-box-color;
        color:  black;

        &:hover {
            border-color: glob.$primary-color;
        }

    }


}

label[for='checkbox'] {
    display: block;
    width: f.rem(126);
   
    margin: 0 auto;


  
  
}

#checkbox {
    width: 100%;
    max-width: f.rem(32);
    min-width: f.rem(32);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 2.3rem;
    
    &:hover {
        cursor: pointer;
    }
}



.access__btn {

    width: 100%;
    max-width: f.rem(300);
    min-width: f.rem(200);
    margin: 0 auto;
    padding: 1rem;
    border: none;
    border-radius: 0.6rem;
    margin: 1.5rem 0;
    color: #ffffff;
    background-color: glob.$primary-color;

    &:hover {
        cursor: pointer;
        background-color: #fff;
        color: glob.$primary-color;
        border:  f.rem(2) solid glob.$primary-color;
        font-weight: bold;
    }
}


#recovery__password {

    display: block;
    max-width: f.rem(800);
    min-width: f.rem(200);
    margin: 0 auto;
    background-color: #fff;
    & p {
        font-size: f.rem(20);
        @include u.breakpoints-down(mobile){
            font-size: f.rem(18);
        }
    }
    & p:last-child {
       margin: 0;
    }
}


.create__account_button{
    width: 100%;
    margin: 1rem auto;

  


    a { 
        display: block;
        width: 45%;
        min-width: glob.$min-box-value;
        max-width: glob.$max-box-value;
        margin: 0 auto;
        border: f.rem(1.5) solid glob.$primary-color;
        border-radius: 0.6rem;
        padding: .9rem 0;
        color: black;

        &:hover {
            font-weight: 300;
            background-color: glob.$primary-color;
            color: #fff;
        }
      
       @include u.breakpoints-down(mobile){
        font-size: f.rem(16);
       }
    }

}


#facebook__login,
#google__login {
    border: 0.1rem solid black;
    text-align: left;
    width: 70%;
    max-width: f.rem(250);
    min-width: f.rem(200);
   
    border-radius: 0.6rem;
    margin: 0 auto;
    margin-bottom: 1rem;

    a {
        display: inline-block;
        text-decoration: none;
        text-indent: 5pt;
        color: black;
        width: 100%;
        margin: 0 auto;



    }


}


#facebook__login {
    margin-top: 1rem;
    border-color: #039be5;
    :hover {
        cursor: pointer;
    }
    & .social-link {
        position: relative;
    }

    & .social-link  p {
        margin: 0;
        padding: 11px;
        width: 220px;
    }
    & .social-link a {
        padding: 0;
    }

    & .social-link img {
        position: absolute;
        top:0;
        right: 0;
    }
}

#google__login {
    border-color: #ff3d00;
    margin-bottom: 2rem;
    :hover{
        cursor: pointer;
    }
    & .social-link {
        position: relative;
    }

    & .social-link  p {
        margin: 0;
        padding: 11px;
        width: 220px;
    }
    & .social-link a {
        padding: 0;
    }

    & .social-link img {
        position: absolute;
        top:0;
        right: 0;
    }
}


span {
    img {
        width: f.rem(30);
        float: right;
        margin-top: .2rem;
    }
}



.social-link {
    height: f.rem(40);
    text-align: left;
}


.social-link p {
    display: inline-block;
    margin-top: .6rem;
}






