@use "./src/sass/util" as u;
@use "./src/sass/util/functions" as f;
@use "./src/sass/global" as glob;


.student__box > img{
    display: block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin:  0 auto;
}

.student__box > p {
    font-size: f.rem(28);
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 2rem;
    @include glob.prefixos(margin-bottom, 2rem);

}

.student {
    max-width: 900px;
}





#student-date {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include u.breakpoints-up(tablet){
        flex-direction: row;
        flex-wrap: wrap;

    }
   
}
 select[name='select'] {
    display: block;
    margin: 2em auto;


}

.first-table {
    @include u.breakpoints-up(tablet){
        width: 45%;
        margin: 0 auto;
    }
}

.second-table {
    @include u.breakpoints-up(tablet){
        width: 45%;
        margin: 0 auto;
    }
}

 #student-date .first-table input,
 #student-date .second-table input {
     padding: .8rem;
     width: 100%;
     max-width: glob.$max-box-value;
     min-width: glob.$min-box-value;
     color: black;
    @include glob.prefixos(padding, .8rem);
    @include glob.prefixos(width, 100%);
    @include glob.prefixos(max-width, glob.$max-box-value);
    @include glob.prefixos(min-width, glob.$min-box-value);




}

 .first-table input,
 .second-table input{
     margin-top: 0;
    border: 1px solid #a7abec;
    @include glob.prefixos(margin-top, 0);
    @include glob.prefixos(border, 1px solid #a7abec);


   
    
}

.first-table {
    @include u.breakpoints-down(tablet){
        height: 380px;
        @include glob.prefixos(height, 380px);

    }
}






 .first-table label,
 .second-table label{
    max-width: glob.$max-box-value;
    min-width: glob.$min-box-value;
    display: block;
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
    color: #737576;

    
 }

 
#student-date .first-table {
  @include u.breakpoints-down(tablet){
    position: relative;
    @include glob.prefixos(position, relative);

  }
}

#student-date .first-table label[for='password'] {
   @include u.breakpoints-down(tablet){
    position: relative;
    top: 576px;
    @include glob.prefixos(position, relative);
    @include glob.prefixos(top, 576px);



   
   }
   @include u.breakpoints-up(tablet){
    margin-top: 33px;
   }
    
}

.first-table #student-password {
   @include u.breakpoints-down(tablet){
    position: relative;
    top: 580px;
    @include glob.prefixos(position, relative);
    @include glob.prefixos(top, 580px);


   }
}




.second-table label[for="password"]{
    @include u.breakpoints-down(tablet){
        margin-top: f.rem(120);
        @include glob.prefixos(margin-top, f.rem(120));


    }
   
}

.first-table input::placeholder {
    @include u.breakpoints-up(tablet){
        font-size: f.rem(20);
    }
    color: black;
   
 }

 .first-table label[for='phone']{
    @include u.breakpoints-up(tablet){
        margin-top: 40px;
    }
 }


 


.btn-update-date,
 #student-date > button{
    display: block;
    width: 100%;
    max-width: glob.$max-box-value;
    min-width: glob.$min-box-value;

    padding: .6em;
    margin: .9em auto .5em auto;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: #6a6fe0;
    border-radius: .4em;
    border: none;

    &:hover {
        cursor: pointer;
   }


 }

.btn-update-date {
    @include u.breakpoints-up(tablet){
        margin-top: 66px;
    }
}

  #student-date > button {
     @include u.breakpoints-up(tablet){
        
         max-width: 100%;
       
     }
    
}


 .btn-update-picture{
    @include u.breakpoints-down(tablet){
        display: none;
        @include glob.prefixos(display, none);

        
    }
    @include u.breakpoints-up(tablet){
        margin-top: 72px;
        @include glob.prefixos(margin-top, 72px);

    }
 }
 
.btn-update-date  {
    @include u.breakpoints-down(tablet){
        margin-top: 45px;
        @include glob.prefixos(margin-top, 45px);

    }
}



 #student-date > button {
    text-align: center;
    margin: 2em auto;

 }


 .second-table input[type='date'] {
    color: black;
    padding: .5rem; 
    @include glob.prefixos(padding, .5rem);

}

 .second-table select {
    display: block;
    width: 100%;
    max-width: glob.$max-box-value;
    min-width: glob.$min-box-value;
    padding: .6em;
    @include glob.prefixos(padding, .6rem);

    margin-top: 0;
    @include glob.prefixos(margin-top, 0);

    font-size: f.rem(20); 
    border-radius: .4em;
    border: 1px solid #a7abec;
    color:black;

 }




 //second-table dos dados do aluno e
//informacoes da compra label

 .second-table label[for='file']{
    display: inline;
    position: relative;
    @include glob.prefixos(position, relative);

    display: inline-block;
    padding: 3px 12px;
    @include glob.prefixos(padding, 3px 12px);

    cursor: pointer;
    width: 100%;
    border: 1px solid #a7abec;
    border-radius: .4em;
    font-size: 20px;
    margin-top: 1em;
    @include glob.prefixos(margin-top, 1rem);

    margin-bottom: 1em;
    @include glob.prefixos(margin-bottom, 1rem);


     & span img {
        float: left;
        width: 21%;
        margin: 0;
    }


}

 #student-date.second-table  p,
 .second-table p{
     position: absolute;
     display: inline-block;
     margin: 0;
     width: 70%;
     top: 22%;

 }




// //style of box file upload

 #student-date .second-table .file-upload {
    position: relative;
    color:  transparent;
    width: 100%;
    margin: 0 auto;
    height: 30px;
    display: block;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1.6rem 0;
    background-color: white;
    border-radius: .5rem;
    border: 1px solid #a7abec;



     &::-webkit-file-upload-button{
        visibility: hidden;
        margin-top: .5rem;
     }
    
    
     &::before {
        position: absolute;
        content: 'selecione o arquivo';
        color: black;
        background-image: url("./../../src/img/image\ 30.png");
        background-repeat: no-repeat;         background-size: cover;
        top: -1px;
        left: 0;
        width:55px;
        height: 50px;
        text-indent: 4.2rem;
        line-height: 50px;
        font-size: 1.2rem;
        
       
        
        
        
     }
    
     &::after {
        display: none;
        position: absolute;
        content: '';
       
    
    }
    
   
 }

 #student-date .second-table .file-upload--style {
    color: black;
    text-indent: -5rem;
    box-sizing: content-box;
    padding: .7rem 1rem;
    padding-top: .4rem;

   
   
   
    
 }


 #student-date .second-table .file-upload--style::before {
     content: " ";
 }

 #student-date .second-table .file-upload {
     margin-top: 4rem;
     margin-bottom: 2rem;
 }


