// here we start create some bunch of variables to use in the site
$primary-color: #6a6fe0;
$search-box-color: #bfbcbc;
$modal-background: #808080;
$body__background: #f3f8fb;

$max-box-value:  300px;
$min-box-value: 200px;

$white-color: #fff;

$hover-box-color: hsl(237, 89%, 63%);